<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item" href="/quizzes/new">Create New Quiz</a>
    <a class="item" href="#">View Question Bank</a>
  </div>

    <div class="row"><h1>Dashboard</h1></div>
      <div class="row">
        <div class="ui cards">
          <% quizzes.forEach(function (quiz) { %>
            <div class="card">
              <div class="content">
                <div class="header">
                  <%= quiz.name %>
                </div>
                <div class="meta">
                    Created by: Fake User
                </div>
                <div class="description">
                  <h4>Instructions:</h4>
                  <h5><%= quiz.instructions %></h5>
                </div>
              </div>
              <div class="extra content">
                <div class="ui three buttons">
                  <form action="/quizzes/<%=quiz._id%>/live" method="GET">
                    <button type="submit" class="ui basic green button" name="id" value="<%= quiz._id %>">Launch Quiz</button>
                  </form>
                  <form action="/quizzes/<%=quiz._id%>" method="GET">
                    <button class="ui basic red button" name="id" value="<%= quiz._id %>">Edit Quiz</button>
                  </form>
                  <!-- <form action="/quizzes/<%=quiz._id%>/game" method="GET">
                    <button type="submit" class="ui basic blue button" name="id" value="<%= quiz._id %>">Launch Quiz</button> -->
                  </form>
                </div>
              </div>
            </div>
        <% }) %>
      </div>
    </div>
</div>
