<div class="ui container" style="margin-top: 20px">

  <div class="ui form" id="game-launch">
    <div class="inline fields">
      <h3 class="four wide field">To launch quiz, enter your name: </h3>
      <div class="six wide field">
        <input type="text" placeholder="User Name" id="username">
        <input type="hidden" placeholder="User Name" id="userroom" value="<%=livequiz.code%>">
      </div>
      <div class="two wide field">
        <button class="ui button" id="launch" type="button">Submit</button>
      </div>
    </div>
  </div>

  <div id="instructions" class="ui center aligned container" style="visibility: hidden">
    <h2 class="ui header">To enter quiz, please go to http://classroom-quiz-helper.herokuapp.com/livequiz, and enter the code below</h2>
    <div class="ui grid">
      <div class="eight wide column">
        <h3>Code: <span class="ui huge label"> <%= livequiz.code %></span></h3>
      </div>
      <div class="eight wide column">
        <button class="ui orange button" id="startquiz">Start Quiz</button>
      </div>
    </div>
  </div>

  <div class="ui centered stackable grid" id="quiz-info" style="visibility: hidden; margin-top: 50px">
    <div class="six wide column">
      <h3 class="ui header">Participants who have joined the quiz.</h3>
      <div class="ui internally celled stackable grid">
        <div class='row'>
          <div class="four wide column">Name</div>
          <div class="ten wide column">Response to question</div>
          <div class="two wide column"></div>
        </div>
      </div>
      <div class="ui internally celled grid" id="participantslist"></div>
    </div>
    <div class="nine wide column">
      <div class="ui container" id="quiz" style="visibility: hidden">
        <h3 class="ui header" id="quiz-container">Current Quiz</h3>
        <% let questions = quiz.questions %>
        <% questions.forEach(function (qn, index){ %>
          <div class="ui stacked segment" id="<%= index %>" style="visibility: hidden">
            <h3><%= qn.stem %></h3>
            <div class="ui horizontal segments">
              <% let optArr = qn.options %>
              <% optArr.forEach(function (opt, index) { %>
                <div class="ui segment" value="<%= opt._id %>"><%= opt.content %></div>
                <% }) %>
              </div>
                <input type="hidden" id="numIndex" value="<%= index %>">
                <button type="button" class="ui button" id="togglequestion">Next Question</button>
            </div>
            <% }) %>
          </div>

    </div>

  </div>

</div>

      <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>


      <script type="text/javascript">
      var socket = io('http://localhost:3000/');
      socket.on('connect', function() {
        console.log('Connected!');
      })

      socket.on('user joined', function(data) {
        console.log("user joined", data);
        $("#participantslist").empty()
        let participants = data.participants
          for (let i = 0; i < participants.length; i++) {
            $('#participantslist').append('<div class="row"><div class="four wide column">' + participants[i].username + '</div><div class="ten wide column" id="choice-' + participants[i].username +'"></div><div class="two wide column" id="'+ participants[i].username + '-isAnswer"></div></div>')
          }
      })

      socket.on('response sent', function(data) {
        let response = data.response
        $('#choice-'+response.participant).append('<p>'+ response.option + '</p>')
        if (response.isAnswer === true) {
          $('#' + response.participant +"-isAnswer").append('<i class="blue checkmark icon"></i>')
        } else {
          $('#' + response.participant +"-isAnswer").append('<i class="red remove icon"></i>')
        }
      })

      socket.on('left room', function (user) {

      })

      $('#launch').on("click", function () {
        let data = { username: $("#username").val(), room:$('#userroom').val() }
        console.log('launch clicked');
        socket.emit('send username', data)
        $('#instructions').css('visibility', 'visible')
        $('#quiz-info').css('visibility', 'visible')
        $('#game-launch').css('visibility', 'hidden')
      })

      $('#startquiz').on("click", function () {
        let code = $('#userroom').val()
        console.log('start quiz', code)
        socket.emit('start quiz', code)
        $('#instructions').css("visibility", "hidden")
        $('#quiz').css('visibility', 'visible')
        $('#0').css('visibility', 'visible')
      })

      $('#togglequestion').on("click", function () {
        let room = $('#userroom').val()
        let current = parseInt($('#numIndex').val(), 20)
        let newIndex = current + 1
        let newDiv = "#"+ newIndex
        let data = {index: current, userroom: room }
        console.log('togglequestion', data);
        socket.emit('next question', data)
        $('#'+ current).css("display", "none")
        if ($(newDiv).length){
          $(newDiv).css("visibility", "visible")
          } else {
            $('#quiz-container').append("<div class='ui warning message'><h2>There are no more questions</h2><div>")
          }
      })

      </script>
