<div class="ui container">
    <div class="ui form" id="quiz-header">
      <div class="inline fields" id="user-form">
        <h2 class="eight wide field">Key in your name to enter quiz: </h2>
        <input type="text" id="username" name="user_name">
        <input type="hidden" id="userroom" name="room" value="<%= livequiz.code %>">
        <button class="ui button" id="nickname" type="button">Submit</button>
      </div>
    </div>
    <div class="ui grid" id="quiz" style="visibility: hidden">
      <div class="twelve wide column">
        <div class="ui container" >
          <% let quiz = livequiz.quiz_id %>
          <h1>  <%= quiz.name %> : <span> <h1> <%= quiz.instructions %> </h1> </span> </h1>
          <div class="ui stacked segment">
          <% let qIndex = 0 %>
          <h3><%= quiz.questions[qIndex].stem %></h3>
          <div class="ui horizontal segments">
            <% let optArray = quiz.questions[qIndex].options %>
            <% optArray.forEach( function (opt, index) { %>
              <button type='submit' class="ui segment response" id="<%= opt.isAnswer %>" value="<%= opt.content %>" ><%= opt.content %></button>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

      <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>


      <script type="text/javascript">
      var socket = io('http://localhost:3000/');
      socket.on('connect', function() {
        console.log('Connected!');
      })



      socket.on('quiz started', function () {
        console.log('start quiz fired');
        $("#quiz").css("visibility", "visible")
        $("#confirmation").remove()
      })



      socket.on('left room', function (user) {

      })

      $("#nickname").on("click", function () {
        let data = { username: $("#username").val(), room:$('#userroom').val() }
        console.log('this is click nickname', data);
        $('#user-form').css('visibility', 'hidden')
        $('#quiz-header').append("<div class='ui positive message' id='confirmation'><h3>Hi, " + data.username + "! </h3><p> You have entered quiz successfully! The quiz will start soon.</p></div>")
        socket.emit('send username', data)
      })



      $('.response').on("click", function() {
        console.log("choices clicked");
        let chosenAnswer = $(this).val()
        let answer = $(this).attr('id')
        let data = { username: $("#username").val(), userroom:  $("#userroom").val(), response: chosenAnswer, isAnswer: answer}
        if (answer === 'true') {
          $(this).append('<i class="large blue checkmark icon"></i>')
        } else {
          $(this).append('<i class="large red remove icon"></i>')
        }
        console.log('data from response2', data);
        socket.emit('send response', data)
        //$("#responselist").append('<div>'+  data +'</div>')

      })


      </script>
